<ion-content [fullscreen]="true" class="install-choice-content">
  <div class="install-choice-wrapper">
    <!-- <img src="assets/images/ic_revoola_logo.png" alt="Revoola" class="logo-image" /> -->

    <div *ngIf="installStatusMessage" class="install-status" [ngClass]="'install-status--' + installStatusType">
      <span>{{ installStatusMessage }}</span>
      <button class="install-status-close" (click)="clearInstallStatus()" aria-label="Close status">x</button>
    </div>

    <ng-container *ngIf="!isPwaInstalled">
      <button
        class="btn-install-app-clip"
        [disabled]="isInstallInProgress"
        (click)="installAppClip()"
        aria-label="Install app clip"
      >
        <ion-spinner *ngIf="isInstallInProgress" class="install-spinner" name="crescent"></ion-spinner>
        {{ isInstallInProgress ? 'INSTALLING...' : 'INSTALL THE APP CLIP' }}
      </button>

      <button class="btn-install-full-version" (click)="openPlayStore()" aria-label="Install full version">
        INSTALL THE FULL VERSION
      </button>
    </ng-container>
  </div>
</ion-content>
